.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(20, 50px);
  height: 100%;
  width: 100%;
  margin: 0;
}

.settings {
  border: blue solid 1px;
  border-radius: 50px;
  grid-column: 64/94;
  grid-row: 2/15;
}

.score {
  grid-column: 18/48;
  grid-row: 2/4;
  font-size: 60px;
}

.settings_menupoint {
  margin-top: 50px;
  font-size: 25px;
}

#character_buttons button {
  background: transparent;
  min-width: 100px;
  min-height: 30px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 20px;
}

#startgame {
  grid-column: 25/40;
  grid-row: 13/15;
  border-radius: 100px;
  font-size: 30px;
  background-color: steelblue;
}

#targetletter {
  font-size: 300px;
  grid-column: 25/40;
  grid-row: 3/10;
}
